# Flask e extensões
Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-APScheduler

# Comunicação com ESPHome e Home Assistant
aioesphomeapi
py-ha-ws-client

# Utilitário para variáveis de ambiente
python-dotenv

requests
bcrypt
wtforms-sqlalchemy
pytz
waitress