# Ambiente Virtual
venv/
venv_stable/

# Arquivos de Cache do Python
__pycache__/
*.pyc

# Arquivo de Segredos
.env

# Banco de Dados SQLite
*.db
*.db-journal

# Pasta de Migrações (opcional, mas bom para evitar conflitos)
# migrations/

# Arquivos do VSCode
.vscode/